.slick-prev {
  left: 10px !important;
  z-index: 1;
  content: 'f' !important;
}
.slick-next {
  right: 30px !important;
  z-index: 1;
}

.slick-prev:before,
.slick-next:before
{
  opacity: 0.75;
  font-size: 40px;
  color: gray;
}

.img-container {
  overflow: 'hidden';
  height: 200px;
}

.img-carousel {
  object-fit: cover;
  height: 200px;
}